@font-face{
    font-family: "verde";
    src: url(verdemoderna.woff)
}
@font-face{
    font-family: "julius";
    src: url(1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2)
}
@font-face{
    font-family: "libreSlanted";
    src: url(kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2)
}
@font-face{
    font-family: "libreRegular";
    src: url(kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2)
}

html, body{
    box-sizing: border-box;
    height: 100%;
    margin: 0%;    
}
.main{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
        "t t o"
        "i i a"
        "p p q"
        "r r b"
        "f f f"
        "d d d";
}
.title {
    padding-bottom: 6em;
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png),url(http://www.csszengarden.com/214/gridlines-opaque.png),url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: auto;
    grid-area: t;
}
.header{
    color: white;
    font-size: 320%;
    font-weight: 400;
    margin-top: 1.8em;
    margin-right: 0.238em;
}
.slogan{
    font-size: 1.6em;
    margin-top: -.95em;
    margin-left: 11.05em;
    text-indent: .25%;
    margin-bottom: 0%;
}
.logo{
    height: 127px;
    width: 126.5px;
    float: left;
    margin-top: 4.75em;
    margin-left: 14.8%;
    margin-right: 2.5em;
}
.dOptions {
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png),url(http://www.csszengarden.com/214/gridlines-opaque.png),url(http://www.csszengarden.com/214/huntington.jpg);
    grid-area: o;
    background-size: auto;
}
.arrow{
    font-family: "verde";
    float: right;
    padding: 0.18em;
    background-color: #ffffff21;
    font-weight: 100;
    margin-top: -1.69em;
    margin-right: 0.81em;
    color: #d8d8d8;
    font-size: 3em;
    padding-bottom: 6px;
}
.arrow:hover{
    cursor: pointer;
    color: white;
    background-color: #ffffff47;
    transition: .3s;
}
.optionsMargin{
    text-align: center;
    margin-top: 5.6em;
    color: #d8d8d8;
    padding: 5%;
    background-color: #ffffff21;
    margin-right: 6em;
    margin-left: 4.75em;
    font-size: 1.1em;
}
.optionsMargin:hover{
    cursor: pointer;
    color: white;
    background-color: #ffffff47;
    transition: .3s;
}
.intro {
    grid-area: i;
    margin-left: 15%;
    margin-top: 5%;
    line-height: 33px;
    margin-right: 7.1%;
    margin-bottom: 5.4%;
    background-color: white;
}
.download{
    font-family: "verde";
    background-color: #d6e2cb;
    border-radius: 2px;
    padding: 2px;
}
.fileLinks{
    font-family: "julius";
}
.hover1{
    color: #a5ba91;
}
.hover2{
    color: #a5ba91;
}
.hover1:hover{
    padding: 10px 3px 10px 3px;
    background-color: #0D8BA5;
    margin: -10px -3px -10px -3px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: .1s;
}
.hover2:hover{
    padding: 10px 5px 10px 5px;
    background-color: #0D8BA5;
    margin: -10px -5px -10px -5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: .1s;
}
.dAuthors {
    background-color: #e4ece8;
    grid-area: a;
    padding-top: 10.5%;
}
.participation {
    background-image: url(http://www.csszengarden.com/214/bamboo.png),url(http://www.csszengarden.com/214/contours-opaque.png),url(http://www.csszengarden.com/214/gridlines-opaque.png);
    background-color: rgba(138,188,159,0.5);
    background-size: contain;
    grid-area: p;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
}
.pMargins{
    margin-left: 15%;
    line-height: 33px;
    margin-right: 7.1%;
}
.faq {
    background-image: url(http://www.csszengarden.com/214/bamboo.png),url(http://www.csszengarden.com/214/contours-opaque.png),url(http://www.csszengarden.com/214/gridlines-opaque.png);
    background-color: rgba(104, 165, 130, 0.5);
    background-size: contain;
    grid-area: q;    
    padding-top: 22%;
}
.faqMargings{
    margin-left: 7%;
    line-height: 33px;
    margin-right: 7.1%;
    color: #677b6d;
}
.hr1,.hr2,.hr3,.hr4,.hr5,.hr6{
    margin-left: 7%;
    margin-right: 30%;
    border: 0;
    border-top: 1px solid #84848457;
}
.requirements {
    grid-area: r;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    background-color: #fff;
}
.blank {
    background-color: #e2eee8;
    grid-area: b;
}
.footer {
    text-align: center;
    font-size: 1.2em;
    padding: 4%;
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png),url(http://www.csszengarden.com/214/gridlines-opaque.png),url(http://www.csszengarden.com/214/koi.jpg);
    background-size: auto;
    grid-area: f;
}
.footerMargins{
    font-weight: 100;
    font-size: 1.7em;
    padding-top: 1%;
    padding-bottom: 1.8%;
    margin-left: 7%;
    margin-right: 5%;
    line-height: 62px;
}
.dots {
    font-family: "verde";
    background-color: #004448;
    color: white;
    padding-bottom: 3.6%;
    padding-top: 3.5%;
    font-size: 4.4em;
    text-align: center;
    grid-area: d;
}
.icons{
    background-color: #88888800;
    color: #8e9a9a;
    margin-left: .63em;
    margin-right: .63em;
    border-radius: 50%;
}
.icons:hover{
    cursor: pointer;
    background-color: #84a2a3;
    color: #004448;
}
.juliusFont{
    font-family: "julius";
    font-weight: 100;
}
.libreSlanted{
    color: #a2b4b3;
    font-family: "libreSlanted"
}
.libreRegular{
    color: #275150;
    font-family: "libreRegular"
}
.specialLibreRegular{
    color: #c3d0d2;
    font-family: "libreRegular";
}
.specialLibreRegular:hover{
    text-decoration: underline;
    cursor: pointer;
}
.authorsMargin{
    color: #616857;
    margin-right: 30.06%;
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.authorHr1, .authorHr2,.authorHr3,.authorHr4,.authorHr5,.authorHr5,.authorHr6,.authorHr7{
    margin-top: 5.5%;
    margin-bottom: 5.5%;
    margin-left: 7%;
    margin-right: 33%;
    border: 0;
    border-top: 1px solid #84848457;
}
li{
    list-style-type: none;
}
.authorsHover:hover{
    cursor: pointer;
    color: #0d8ba1;
}
.underline{
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: .9em;
}
h1{
    font-size: 1.8em;
}
.tealText{
    color: #0D8BA5;
}
.tealText:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media (max-width: 1131px){
    .main{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-template-areas: 
            "t t t"
            "o o o"
            "i i i"
            "p p p"
            "r r r"
            "f f f"
            "d d d"
            "a a a"
            "q q q";
    }.title {
        padding-bottom: 6em;
    }
    .authorsMargin{
        display: inline-block;
        overflow: hidden;
        margin: 0px;
        padding: 0%;
    }
    .dAuthors{
        display: inline;
        padding: 0%
    }
    .faq{
        padding: 0%;
        margin: 0%;
    }
    .footer{
        font-size: .9em;
        padding: 0%;
    }
    .dots{
        font-size: 2.9em;
    }
    .header{
        color: white;
        font-size: 224%;
        font-weight: 400;
        margin-top: 1.338em;
    }
    .slogan{
        font-size: 1.1em;
        margin-top: -0.85em;
        margin-left: 45%;
        color: #e8e6e6bd;
    }
    .logo{
        height: 80px;
        width: 80px;
        margin-top: 1.15em;
        margin-left: 31.5%;
        margin-right: 1.2em;
    }
    .title{
        padding-bottom: 2em;
    }
    .optionsMargin{
        text-align: center;
        margin-top: 0em;
        color: #d8d8d8;
        padding: 2.2%;
        background-color: #ffffff21;
        font-size: 1em;
        margin-bottom: 0.1em;
        margin-left: 0;
        margin-right: 0;
    }
    .arrow{
        background-color: #ffffff00 ;
        margin-top: -1.39em;
        margin-right: 0.01em;
        font-weight: 100;
    }
    .intro{
        font-size: 0.84em;
        grid-area: i;
        margin-left: 9.9%;
        margin-top: 1.3%;
        line-height: 33px;
        margin-right: 12.3%;
        margin-bottom: 1%;
    }
    .pMargins{
        margin-left: 9.9%;
        line-height: 33px;
        margin-right: 12.3%;    
    }
    .h1Font{
        font-size: 1.5em
    }
    .ul1{
        columns: 2;
        clear: left;
        margin-left: 7%;
        margin-right: 0%;
        margin-bottom: -1.5%;
    }
    .authorHr1, .authorHr2, .authorHr3, .authorHr4, .authorHr5, .authorHr5, .authorHr6, .authorHr7{
        margin-top: 0%;
        margin-left: -150%;
        margin-right: 20.6%;
        ;
    }
    .hh{
        margin-top: 0%;
        font-family: julius;
    }
    .pp{
        display: block;
        margin-bottom: 5%;
        font-family: libreRegular;
        font-size: .7em;
    }
    
    .hr1,.hr2,.hr3{
        margin-left: -12%;
        margin-right: -90.2%;
        border: 0;
        border-top: 1px solid #84848457;
    }
    .hr4,.hr5, .hr6{
        border-top: 1px solid #84848400;
        margin-right: -90.2%;
    }
    .ul2{
        columns: 2;
        margin-top: -9px;
        margin-left: 3.5%;
        margin-right: 3%;
    }
    .footerMargins{
        font-size: 1.8em;
    }

}
@media (min-width: 1455px){
    .arrow {
        font-family: "verde";
        float: right;
        padding: 0.18em;
        background-color: #ffffff21;
        font-weight: 100;
        margin-top: -2.1em;
        margin-right: 1.01em;
        color: #d8d8d8;
        font-size: 3em;
        padding-top: 16px;
        padding-bottom: 17.5px;
    }
    .optionsMargin {
        text-align: center;
        margin-top: 5.8em;
        color: #d8d8d8;
        padding: 4.2%;
        background-color: #ffffff21;
        margin-right: 6em;
        margin-left: 4.75em;
        font-size: 107%;
    }
    .arrow {
        font-family: "verde";
        float: right;
        padding: 0.18em;
        background-color: #ffffff21;
        font-weight: 100;
        margin-top: -1.82em;
        margin-right: 0.75em;
        color: #d8d8d8;
        font-size: 3em;
        padding-top: 12px;
        padding-bottom: 9.5px;
    }
}