input:focus{
    outline: none
}
button:focus{
    outline: none
}
.showRestaurant{
    display: none;
}
.hideRestaurant{
    display: block;
}
.nav{
    color: white;
    transition: ease-out;
    transition-duration: .6s;
}
.nav:hover{
    color:black;
    background-color: white;
    transition: ease-in;
    transition-duration: .6s}
.homeButton{
    background-color: rgba(255, 0, 0, 0);
    color:white;
    transition: ease-out;
    transition-duration: .5s
}
.homeButton:hover{
    color:black;
    background-color: white;
    transition: ease-in;
    transition-duration: .5s;
}
.specialH1{
    color:lime;
    transition: ease-out;
    transition-duration: .5s;
    transition-delay: .5s;
}
.specialH1:hover{
    color: white;
    transition: ease-in;
    transition-duration: .5s;
    transition-delay: .5s
}
input{
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: cyan;
}
textarea{
    border: solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: cyan;
}
select{
    border: solid white;
    background-color: rgba(0, 0, 128, 0);
}
.res{
    background-color: rgba(255, 255, 255, 0.7);
    border-color:cyan;
    color: black;
}
.options::-ms-expand{
    height: 400px;
}
.aa{
    color: darkcyan;
}
.aa:hover{
    color: red;
}